{% extends "main/layout.html" %}

{% block body%}

  <div class="text-center">
    <h1>Django</h1>
    <p>Welcome to Django based back-end</p>
  </div>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>
        <span class="fa fa-lock"> Allauth Authentication</span>
      </h1>
      <p>Login or Register with:</p>
      <a class="btn btn-default" href="/login">
        <span class="fa fa-user"></span>
        Local Login
      </a>
      <a class="btn btn-default" href="/signup">
        <span class="fa fa-user"></span>
        Local Signup
      </a>
      <a class="btn btn-primary" href="/auth/facebook">
        <span class="fa fa-facebook"></span>
        Facebook
      </a>
      <a class="btn btn-info" href="/auth/twitter">
        <span class="fa fa-twitter"></span>
        Twitter
      </a>
      <a class="btn btn-danger" href="/auth/google">
        <span class="fa fa-google-plus"></span>
        Google+
      </a>
    </div>
  </div>

{% endblock %}
