/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: -100;
  background: gainsboro url("../img/what-are-you-looking-at.jpg") no-repeat center center;
  background-size: cover;
}

.border-between > [class*='col']:before {
  background: rgb(54, 69, 109);
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 2px;
  top: 0;
}

.border-between > [class*='col']:first-child:before {
  display: none;
}

.signin {
  /* text-align: center; */
  margin-bottom: 2rem;
  /* background-color: #e9ecef; */
  background-color: rgba(233,236,239, 0.8);
  padding: 4rem;
  border-radius: .3rem;
}

.logo {
  background: url(../logo-django.svg) center center no-repeat;
  font-size: 40px;
  font-size: 4rem;
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  color: rgb(54, 69, 109);
  display: block;
  float: left;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  text-decoration: none;
  text-indent: 100%;
  width: 104px;
  height: 36px;
}

.nav-link.active {
  background-color: rgb(54, 69, 109) !important;
}

a.nav-link {
  /* color: rgb(54, 69, 109); */
  color: rgb(226, 229, 236);
  text-shadow: 0 0 3px rgb(185, 181, 181), 0 0 5px rgb(185, 181, 181);

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 58em) {
  .container {
    max-width: 56rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
